<form method="post" action="{{ path('app_jeu_video_delete', {'id': jeu_video.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce jeu: {{ jeu_video.titre }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeu_video.id) }}">
    <button class="btn">Supprimer</button>
</form>
