{% extends 'base.html.twig' %}

{% block title %}Edit JeuVideo{% endblock %}

{% block body %}
    <h1>Edit JeuVideo</h1>

    {{ include('jeu_video/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_jeu_video_index') }}">Revenir à la liste</a>

    {{ include('jeu_video/_delete_form.html.twig') }}
{% endblock %}
