{% extends 'base.html.twig' %}

{% block title %}New JeuVideo{% endblock %}

{% block body %}
    <h1>Ajouter un JeuVideo</h1>

    {{ include('jeu_video/_form.html.twig') }}

    <a href="{{ path('app_jeu_video_index') }}">retour à la liste</a>
{% endblock %}
