<form method="post" action="{{ path('app_genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce genre : {{ genre.nom }} ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
	<button class="btn">Supprimer</button>
</form>
