<form method="post" action="{{ path('app_editeur_delete', {'id': editeur.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet éditeur ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editeur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
