{{ form_start(form, {'attr': {'class': 'needs-validation form-modern'}}) }}
{{ form_widget(form) }}
<div class="form-actions mt-4">
	<button class="btn btn-primary btn-lg">
		<i class="bi bi-check-lg me-2"></i>
		{{ button_label|default('Sauvegarder') }}
	</button>
</div>
{{ form_end(form) }}
